In [20]:
import pandas as pd

In [21]:
bonds = pd.read_csv ('../dataset/Indicators/bonds.csv', encoding='unicode_escape')
dxy = pd.read_csv ('../dataset/Indicators/dxy.csv', encoding='unicode_escape')
interest_rates = pd.read_csv ('../dataset/Indicators/interest_rates.csv', encoding='unicode_escape')
vix = pd.read_csv ('../dataset/Indicators/vix.csv', encoding='unicode_escape')
gdp = pd.read_csv ('../dataset/Indicators/gdp.csv', encoding='unicode_escape')
pmi = pd.read_csv ('../dataset/Indicators/pmi_.csv', encoding='unicode_escape')
unemployment_rate = pd.read_csv ('../dataset/Indicators/unemployment_rate.csv', encoding='unicode_escape')
cpi = pd.read_csv ('../dataset/Indicators/cpi_yoy.csv', encoding='unicode_escape')
m2 = pd.read_csv ('../dataset/Indicators/monetary_supply.csv', encoding='unicode_escape')
spx = pd.read_csv('../dataset/Assets/spx.csv', encoding='unicode_escape')
ndx = pd.read_csv('../dataset/Assets/ndx.csv', encoding='unicode_escape')
gold = pd.read_csv('../dataset/Assets/gold.csv', encoding='unicode_escape')

In [22]:
def clean_df1(df): 
    df['time'] = df['time'].str.extract('(\d{4}-\d{2}-\d{2})', expand=True)
    df['time'] = pd.to_datetime(df["time"])
    df.set_index('time', inplace=True)
    df= df.reindex(pd.date_range(start=df.index.min(),
                                                  end=df.index.max(),
                                                  freq='1D'))
    df.interpolate(method='linear', inplace=True)
    df.index.names = ['Dates']
    df = df[(df.index >= '2000-01-01') & (df.index <= '2022-11-02')]
    return df

In [23]:
bonds = clean_df1(bonds)
dxy = clean_df1(dxy)
interest_rates = clean_df1(interest_rates)
vix = clean_df1(vix)
gdp = clean_df1(gdp)
pmi = clean_df1(pmi)
unemployment_rate = clean_df1(unemployment_rate)
cpi = clean_df1(cpi)
m2 = clean_df1(m2)
spx = clean_df1(spx)
ndx = clean_df1(ndx)
gold = clean_df1(gold)

In [24]:
pmi.shape

(8342, 1)

In [25]:
gold.shape == ndx.shape

True

In [31]:
def concatenate_df1():
    df1 = pd.concat([bonds, dxy, interest_rates, vix, gdp, pmi, unemployment_rate, cpi, m2, spx, ndx, gold], axis = 1)
    df1.columns = ["10y_2y_bonds_spread", 'dxy', 'interest_rates', "vix", "gdp", "pmi", "unemployment_rate", "cpi", "m2", "m2(in billions)", "spx", "ndx", "gold"]
    df1.drop(columns="m2", inplace=True)
    return df1

In [32]:
df1 = concatenate_df1()
print(df1.shape)
df1.head()

(8342, 12)

,10y_2y_bonds_spread,dxy,interest_rates,vix,gdp,pmi,unemployment_rate,cpi,m2(in billions),spx,ndx,gold
Dates,,,,,,,,,,,,
2000-01-01,0.206667,101.115,5.5,23.67,4.595604,56.700000,4.000000,2.700000,4666.200000,1478.916667,3781.833333,288.166667
2000-01-02,0.203333,100.360,5.5,23.94,4.589011,56.670968,4.003226,2.716129,4666.625806,1472.833333,3809.666667,288.500000
2000-01-03,0.200000,100.385,5.5,24.21,4.582418,56.641935,4.006452,2.732258,4667.051613,1466.750000,3837.500000,282.200000
2000-01-04,0.190000,100.410,5.5,27.01,4.575824,56.612903,4.009677,2.748387,4667.477419,1411.500000,3559.500000,280.600000
2000-01-05,0.240000,100.430,5.5,26.41,4.569231,56.583871,4.012903,2.764516,4667.903226,1413.000000,3508.000000,281.200000

In [33]:
df1.to_csv('./df1.csv')