In [31]:
import pandas as pd

In [32]:
bonds = pd.read_csv ('../dataset/Indicators/bonds.csv', encoding='unicode_escape')
dxy = pd.read_csv ('../dataset/Indicators/dxy.csv', encoding='unicode_escape')
interest_rates = pd.read_csv ('../dataset/Indicators/interest_rates.csv', encoding='unicode_escape')
vix = pd.read_csv ('../dataset/Indicators/vix.csv', encoding='unicode_escape')
gdp = pd.read_csv ('../dataset/Indicators/gdp.csv', encoding='unicode_escape')
pmi = pd.read_csv ('../dataset/Indicators/pmi_.csv', encoding='unicode_escape')
unemployment_rate = pd.read_csv ('../dataset/Indicators/unemployment_rate.csv', encoding='unicode_escape')
cpi = pd.read_csv ('../dataset/Indicators/cpi_yoy.csv', encoding='unicode_escape')
m2 = pd.read_csv ('../dataset/Indicators/monetary_supply.csv', encoding='unicode_escape')
btc = pd.read_csv('../dataset/Assets/btc_price.csv', encoding='unicode_escape')

In [33]:
def clean_df2(df): 
    df['time'] = df['time'].str.extract('(\d{4}-\d{2}-\d{2})', expand=True)
    df['time'] = pd.to_datetime(df["time"])
    df.set_index('time', inplace=True)
    df= df.reindex(pd.date_range(start=df.index.min(),
                                                  end=df.index.max(),
                                                  freq='1D'))
    df.interpolate(method='linear', inplace=True)
    df.index.names = ['Dates']
    df = df[(df.index >= '2010-07-17') & (df.index <= '2022-11-02')]
    return df

In [35]:
#This df is going to start from 2010 as we dont have previous price data from btc.
btc.head()

                        time    close
0  2010-07-17T02:00:00+02:00  0.04951
1  2010-07-18T02:00:00+02:00  0.08584
2  2010-07-19T02:00:00+02:00  0.08080
3  2010-07-20T02:00:00+02:00  0.07474
4  2010-07-21T02:00:00+02:00  0.07921

In [36]:
bonds = clean_df2(bonds)
dxy = clean_df2(dxy)
interest_rates = clean_df2(interest_rates)
vix = clean_df2(vix)
gdp = clean_df2(gdp)
pmi = clean_df2(pmi)
unemployment_rate = clean_df2(unemployment_rate)
cpi = clean_df2(cpi)
m2 = clean_df2(m2)
btc = clean_df2(btc)

In [37]:
def concatenate_df2():
    df2 = pd.concat([bonds, dxy, interest_rates, vix, gdp, pmi, unemployment_rate, cpi, m2, btc], axis = 1)
    df2.columns = ["10y_2y_bonds_spread", 'dxy', 'interest_rates', "vix", "gdp", "pmi", "unemployment_rate", "cpi", "m2", "m2(in billions)", "btc_price"]
    df2.drop(columns="m2", inplace=True)
    return df2

In [40]:
df2 = concatenate_df2()
print(df2.shape)
df2.head()

(4492, 10)

,10y_2y_bonds_spread,dxy,interest_rates,vix,gdp,pmi,unemployment_rate,cpi,m2(in billions),btc_price
Dates,,,,,,,,,,
2010-07-17,2.36,82.5380,0.25,26.156667,3.150000,57.225806,9.451613,1.148387,8644.761290,0.04951
2010-07-18,2.37,82.5900,0.25,26.063333,3.155435,57.277419,9.454839,1.145161,8646.383871,0.08584
2010-07-19,2.38,82.6695,0.25,25.970000,3.160870,57.329032,9.458065,1.141935,8648.006452,0.08080
2010-07-20,2.37,82.7490,0.25,23.929990,3.166304,57.380645,9.461290,1.138710,8649.629032,0.07474
2010-07-21,2.32,83.2350,0.25,25.640000,3.171739,57.432258,9.464516,1.135484,8651.251613,0.07921

In [39]:
df2.to_csv('./df2.csv')